* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
  }
  
  body {
    background: url("space.png") no-repeat center center fixed;
    background-size: cover;
  }

  header {
    background-color: green;
    color: #fff;
    padding: 20px;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  section {
    margin: 50px 0;
  }
  
  h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  p {
    color: white;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  

  